.producstOnCart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
}
.producstOnCart::-webkit-scrollbar {
    display: none;
}
.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
    visibility: none;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}